<div class="about">




  <div class="about-logo">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 2078.53 2326.819" style="enable-background:new 0 0 2078.53 2326.819;" xml:space="preserve">
    <g>
    	<path d="M1675.819,2326.819l-303.116-789.241H540.211l-250.421,641.66c-43.993,115.498-47.377,134.748-27.074,134.748H492.44
    		c6.768,0,6.768,12.834,0,12.834H5.076c-6.768,0-6.768-12.834,0-12.834h186.573c30.462,0,37.229-9.624,84.603-134.748
    		l839.26-2172.02c3.384-9.624,13.535-9.624,16.919,0l946.1,2319.601H1675.819z M956.457,462.796L543.599,1524.744h822.337
    		L956.457,462.796z"/>
    </g>
    </svg>


  </div>



    <div class="about-text">

      <p>A native of Los Angeles, Aleali made her first foray into fashion working for Don C and Virgil Abloh's RSVP Gallery in Chicago while attending Columbia College Chicago. She has since emerged as a respected style consultant within the entertainment industry, gathering clients such as Kali Uchis, Lil Yachty and more within her repertoire.
      </p>

      <p>
      Most known for her personal style, Aleali showcases effortless fusions of streetwear and luxury on a consistent basis via Instagram @alealimay. In October of 2014, she launched her website, AlealiMay.com. This self titled blog takes you through Aleali's outfits, work and leisure life.
      </p>
      <p>
      In August of 2017, Aleali signed with top modeling/creative agency, "The Society Management". Also serving as collaborator and consultant with renowned global brands, October of 2017 marks the day Aleali's first design collaboration hit the global market. Teaming up with Nike's Jordan Brand, this " Air Jordan 1 Aleali May/ Satin Shadow" design ranks her as the second woman to collaborate and the first woman to design a unisex show within the history of the Jordan Brand.
      </p>
      <p>
      In 2018, Aleali released her second Air Jordan Collaboration in partnership with WNBA legend, Maya Moore. The "Court Lux" silhouette featured an AJ1 and an AJX. Following the successful Women's release, in March of 2019, Aleali then released her third Jordan Collaboration, the "Millennial Pink" AJ6.
      </p>
      <p>
      While expressing herself creatively, Aleali continues to bridge the gap between these two separate worlds, while representing women of color, and women who are not afraid to break barriers in their everyday lives - for the next generations to come.
      "When it comes to Louboutins, most women purchase heels as their first pair, but I got the sneakers instead"
      </p>

      <p>-The Covetuer </p>
    </div>



</div>
