@import 'fonts';
@import 'variables';
@import 'mixins';

.about{
  position: relative;
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center
}



.about-text{
  position: relative;
  width: 40vw;
  margin: auto;
  display: inline-block;
  vertical-align: top;
  padding:$margin-top 0;
  margin-left:50vw;
  p{
    @include p();
    margin-top: $margin-top-p;
    &:nth-child(1){
      margin-top: 0;
    }
  }
}

.about-logo{
  width: 35vw;
  height: 60vh;
  top:$margin-top;
  display: inline-block;
  position: fixed;
  left:15vw;
  svg{
    width: 100%;
    height: auto;
    float: right;
  }
}
