<nav class="nav" [@navState]="_globalService.isNav">


   <!-- (mouseenter)='openNav()' (mouseout)='closeNav()' -->
  <ul class="nav-ul">
     <!-- [@navUlState]="isNav" -->
    <li class="nav-li" >
       <!-- [@navLiState]="isNav" -->
       <!-- [class.blacked_text]="_globalService.isStyling" -->
      <a [routerLink]="['/']" class="nav-a" [class.nav_active]="route === '/'" (click)="_globalService.toggleNav()" [class.blacked_text]="_globalService.isStyling  && !_matchMediaService.IsPhone()">home</a>
    </li>
    <li class="nav-li">
      <a [routerLink]="['/styling']" class="nav-a" [class.nav_active]="route === '/styling'" (click)="_globalService.toggleNav()" [class.blacked_text]="_globalService.isStyling  && !_matchMediaService.IsPhone()">styling</a>
    </li>
    <li class="nav-li">
      <a [routerLink]="['/about']" class="nav-a" [class.nav_active]="route === '/about'" (click)="_globalService.toggleNav()" [class.blacked_text]="_globalService.isStyling  && !_matchMediaService.IsPhone()">about</a>
    </li>
    <li class="nav-li">
      <a [routerLink]="['/contact']" class="nav-a" [class.nav_active]="route === '/contact'" (click)="_globalService.toggleNav()" [class.blacked_text]="_globalService.isStyling && !_matchMediaService.IsPhone()">contact</a>
    </li>
  </ul>
</nav>
