<div class="detail" *ngIf="detail">

<h1 class="detail-title">{{detail.data.post.title.value["0"].text}}</h1>

<div class="detail-cover" [ngStyle]="{'background-image': 'url(' + detail.data.post.cover.value[0].image.value.main.url + ')'}">
  <!-- <img [src]="detail.data['post.cover'].value[0].image.value.main.url" alt=""> -->
</div>
  <!-- <h1>{{detail.data['post.title'].value[0].text}}</h1> -->

  <div class="detail-content" *ngIf="detail.data.post.post.value">

    <ul class="detail-ul">
      <li class="detail-li" *ngFor="let d of detail.data.post.post.value" >


        <div class="detail-img" *ngIf="d.slice_type=='image'">
          <img src="{{d.value.value[0].image?.value.main.url}}" alt="">
        </div>

        <div class="detail-gallery" *ngIf="d.slice_type=='gallery'">
          <img src="{{g.image.value.main.url}}" alt="" *ngFor="let g of d.value.value">
        </div>

        <div class="styling-detail-video" *ngIf="d.slice_type=='video'">
          <iframe [src]="d['non-repeat']?.id.value | youtubeEmbed" width="" height=""></iframe>
          <!-- {{d['non-repeat'].id.value | youtubeEmbed}} -->
        </div>
        <!-- <img src="d.value.value[0].image.value.main.url" alt="" *ngIf="d.slice_type =='image'"> -->


      <!-- detail -->

    </li>
    <div class="detail-credits">
      <ul class="detail-credits-ul" *ngIf="detail.data.post.credits.value[0]">
        <li class="detail-credits-li" *ngFor="let c of detail.data.post.credits?.value">
          {{c.role?.value[0].text}}: <p *ngFor="let n of c.name?.value" >{{n.text}}</p>
          <a [href]="c.weblink?.value.url">link</a>
        </li>
      </ul>
    </div>
    </ul>

  </div>
</div>
