@import 'fonts';
@import 'variables';
@import 'mixins';

.feed{
  width:100vw;
  height: auto;
  @include respond-to(phone){
    height:100vh;
    overflow:scroll;
  }
}


.feed-content{
  width: 100vw;
}

.feed-ul{
  width: 100vw;
  padding-bottom: 20vh;
  .feed-li{
    z-index:$z-feed;
    position: relative;
    margin-top: $margin-top-li;
    &:first-child{
      margin-top: $margin-top;
    }
    &:last-child{
      margin-bottom: $margin-top;
    }
    a{
      width: auto;
      display: block;
      position: relative;
      &:hover{
        .title_left{
          left:-10%;
        }
        .title_right{
          right:-10%;
        }
      }
    }
    img{
      display: block;
      width: 50vw;
      // @include respond-to(phone){
      //   width: 100vw !important;
      // }
    }
    h1{
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
    }
  }
}

.feed-title{
  position: absolute;
  top:50%;
  right:-1%;
}

.title_left{
  right: auto;
  left:-5%;
}
