@import 'fonts';
@import 'variables';
@import 'mixins';

.styling{
  width:100vw;
  height: 100vh;
  background-color: $black;
  @include respond-to(phone){
    height:100vh;
    overflow:scroll;
  }
}


.styling-content{
  width: 100vw;
}

.styling-ul{
  width: 100vw;
  display: block;
  padding-bottom: 20vh;
  overflow-x: hidden;
  .styling-li{
    position: fixed;
    max-width: 20vw;
    background-color: transparent;
    @include respond-to(phone){
      width: 100vw;
      position: relative;
    }
    // &:nth-child(1){
    //   margin-top: $margin-top;
    // }
    .styling-cover{
      width: 200px;
      height: auto;
      display: block;
      position: absolute;
    }
    .styling-a{
      .styling-title{
        color:$white;

      }
    }
  }
}
